<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>GradePending</title>
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>


<div class="welcome_background" style="background-color: black" %>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
         
          <h2>About GradePending</h2>
          <div align="left">
            <div class="about_box">

              <p>
                <h3>Why build the site</h3>
                GradePending relies on the NYC Open Data API to fetch inspection histories for restaurants. The idea to make this site was inspired by my previous life as a cook in restaurants and markets. (At one point, I worked for Tarry Market, owned by Mario Batali.) Restaurant organization has always interested me, and I wanted to build an app that enabled users to learn whether their favorite NYC restaurants are clean and well-maintained. 
              </p>
              <p>
                <h3>Future Plans </h3>
                This is a beta version of the website. Future updates will include a more designed index page to display multiple search results dynamically (instead of relying on static text fields), as well as adapters to allow for highly flexible search input from users. Users will also be able to create accounts and save their search histories.
              </p>
              
              <p>
              Enjoy!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

